$bg: #1a1e24;
$color: #eee;
$white: #fff;
$background: #333;

.app {
  text-align: center;

  &-counter {
    text-align: center;
    color: red;
    font-size: 20rem;
  }

  button {
    display: inline-block;
    text-align: center;
    background: $white;
    color: $bg;
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    min-width: 8.23em;
    font-size: 1.25rem;
    margin-right: 30px;
    border: none;

    &:focus {
      outline: none;
    }

    &:active {
      background: $background;
      color: $white;
    }
  }
}
